html {
    font-family: 'Noto Sans JP', sans-serif;
  }
  
  .pop {font-family: 'Poppins', sans-serif;}
  
  .container {
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
  }
@media only screen and (max-width: 768px) {
  .container {
      max-width: 100%;
  }
}
  .flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  /* ヘッダー */
  header {
    padding: 27px 0;
    border-top: 20px solid #79a1b1 !important;
  }
  .logo {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.04em;
  }
  .logo span {
    color: #79a1b1;
  }
  .header_menu li {
    background: #ffffff;
    margin-top: 20px;
    padding: 5px 20px 5px; /*枠の大きさ変更*/
    text-decoration: none; /*テキストの装飾を初期化*/
    /* 背景色とテキスト色以外のスタイルを追加 */
    border-left: 2px solid #ddd; /* ボーダーを設定 */
    border-right: 2px solid #ddd;
    border-radius: 5px; /* 角を丸める */
    font-size: 16px;
    cursor: pointer; /*カーソルの形変更*/
    color: #79a1b1; /* テキスト色を設定 */
  }
  .header_menu li a {
    transition: 3s;
  }
  .header_menu li a:hover {
    color: #ddd;
    transition: 0.5s;
  }
  .logo-menu{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.04em;
  }
  .deny{
    color: #ddd!important;
  }
  @media only screen and (max-width: 768px) {
    header .container {
      justify-content: center;
    }
    .header_menu li {
      margin: 20px 16px 0;
    }
  }
  
  
  /* メイン */
  #hero {
    background-image: url(../images/津田沼駅橋上Top画像.jpg);
    background-position: center;
    background-size: cover;
    height: 540px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 90px;
    overflow: hidden;
  }
  #hero::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    z-index: 1;
  }
  .hero_inner {
    z-index: 2;
    color: #ffffff;
    width: 100%;
    text-align: center;
  }
  .hero_inner a {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  .hero_inner h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  
  @media only screen and (max-width: 768px) {
    #hero {height: 460px;}
    .hero_inner p {font-size: 15px;}
    .hero_inner h1 {font-size: 17px;}
  }

  /* ボタンのスタイル */
.btn-square {
  padding: 0px 40px; /*枠の大きさ変更*/
  text-decoration: none; /*テキストの装飾を初期化*/
  /* 背景色とテキスト色以外のスタイルを追加 */
  border: 3px solid #ffffff; /* ボーダーを設定 */
  border-radius: 5px; /* 角を丸める */
  font-size: 16px;
  cursor: pointer; /*カーソルの形変更*/
  color: #ffffff; /* テキスト色を設定 */
  background: none; /* 背景を透明にする */
}
/* ボタンのマウスオーバー時のスタイル */
.btn-square:hover {
  background: #ffffff; /* マウスオーバー時の背景色を変更 */
  color: #000000; /* テキスト色を白に変更 */
  border: 3px double #000000; /* ボーダーの変更 */
}
  
  
  #concept {
    margin-bottom: 80px;
  }
  .title {
    font-size: 20px;
    font-weight: 500;
    color: #79a1b1;
    margin-bottom: 40px;
  }
  #concept h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 60px;
  }
  .text {
    line-height: 2;
  }
  .heading {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 120px;
    font-weight: 700;
    color: #79a1b1;
    opacity: 0.1;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-30%);
    z-index: -1;
  }
  
  @media only screen and (max-width: 768px) {
    #concept h3 {
      font-size: 24px;
      line-height: 1.5;
    }
    .column-2 {
      width: 100%;
    }
    .text {
      font-size: 15px;
      line-height: 1.7;
    }
  }
    .column-a {
      background-image: url(../images/tudanuma.night.jpg);
      background-position: center;
      background-size: cover;
      width: 90%;
      height: 270px;
      border-radius: 20px;
    }
    .column-b {
      background-image: url(../images/ラーメン屋Top.jpg);
      background-position: center;
      background-size: cover;
      width: 90%;
      height: 270px;
      border-radius: 20px;
    }
    .column-c {
      background-image: url(../images/カフェ・喫茶店img.jpg);
      background-position: center;
      background-size: cover;
      width: 90%;
      height: 270px;
      border-radius: 20px;
    }
    .column-d {
      background-image: url(../images/寿司img.jpg);
      background-position: center;
      background-size: cover;
      width: 90%;
      height: 270px;
      border-radius: 20px;
    }
    
    @media only screen and (max-width: 768px) {
      .column-a, .column-b, .column-c, .column-d {
        width: 100%;
        height: 140px;
        margin: 1%;
      }
    }
  
  #information {
    margin-bottom: 120px;
  }
  .information_inner {
    margin-bottom: 40px;
    position: relative;
  }
  .column-40 {
    width: 40%;
  }
  .column-55 {
    width: 55%;
  }
  #information  img {
    border-radius: 20px;
  }
  #information  h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
  }
  #information a{
    color: rgb(46, 160, 230);
  }
  #information a:hover{
    color: #c81111
  }
  
  @media only screen and (max-width: 768px) {
    .column-40 {
      width: 100%;
      margin-bottom: 30px;
    }
    .column-55 {
      width: 100%;
    }
    #information  h3 {
      font-size: 17px;
    }
  }
    
  
  
  #service {
    margin-bottom: 120px;
  }
.container_service .service_block{
  display: flex;
  justify-content: space-between;
}
.container_service .service{
  width: 300px;
  text-align: center;
}
.container_service h2{
  text-align: left;
  margin-bottom: 20px;
}
.container_service .service img{
  margin-bottom: 20px;
}
.container_service .service .ttl{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}
.container_service .service .explain{
  margin-bottom: 20px;
}
.container_service .service  a{
  background: #79a1b1;
  padding: 15px 20px 12px; /*枠の大きさ変更*/
  text-decoration: none; /*テキストの装飾を初期化*/
  /* 背景色とテキスト色以外のスタイルを追加 */
  border: 2px solid #000000; /* ボーダーを設定 */
  border-radius: 5px; /* 角を丸める */
  font-size: 16px;
  cursor: pointer; /*カーソルの形変更*/
  color: #ffffff; /* テキスト色を設定 */
}
.container_service .service  a:hover {
  background: #ffffff; /* マウスオーバー時の背景色を変更 */
  color: #79a1b1; /* テキスト色を白に変更 */
  border: 4px double #79a1b1; /* ボーダーの変更 */
}
@media only screen and (max-width: 768px) {
  /* 画面縮小時変な改行が起きないように設定を追加しました */
  .container_service .service  a{
    font-size: 10px;
    padding: 15px 15px 12px;
  }
  .container_service .service  a:hover {
    font-size: 10px;
    padding: 15px 15px 12px;
    border: 3px double #79a1b1;
  }
}


/* フッター */
  footer {
    text-align: center;
    margin: 90px 0;
  }
  .copy{
    text-align: center;
    background: #79a1b1;
    color: #fff;
    font-size: 12px;
    padding: 7px 0px 3px;
}