body{ background-color:white;}

input[type="button"] {
    /* input要素全部に対して装飾 */
    background-image: linear-gradient(0deg, green, #e5f4fc); /* グラデーション */
    border: 2px solid #ff9900; /* 枠線 */
    border-radius: 0.3em;      /* 角丸 */
}

input[type="submit"]{
    color: black;
    background-color: white;
    border-bottom: 2px solid #ff9900;
    border: 2px solid #ff9900;
  }
input[type="submit"]:hover {
    margin-top: 3px;
    color: black;
    background: white;
    border-bottom: 2px solid #ff9900;
  }
input[type="submit"].btn--shadow {
    -webkit-box-shadow: 0 3px 5px #ff9900(0, 0, 0, .3);
    box-shadow: 0 3px 5px #ff9900(0, 0, 0, .3);
  }


.subject {
    text-align: left; 
    float: left;
    font-size: large;
    color: black;
    margin :0px 5px 0px 0px; 
    padding:7px 4px 1px 4px;
 }
.subject2{
    text-align: right; 
    background-color:#ff9900;
    margin :0px 5px 0px 0px; 
    padding:1px 4px 1px 4px;
 }
.titlebar {
    background:#ff9900;; 
    color:white;               
    font-weight:bold;          
 }

.box1 {
    padding: 30px 10px 30px;
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.box1 h2{
    margin:  0;
    padding: 0;
}
.box2 {
    padding:10px 10px 10px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.box2 h3{
    margin: 0; 
    padding: 0;
}

.box3{
    padding:30px 70px 30px;
    font-weight: bold;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.box3 h4{
    margin: 0;
    padding: 0;
}