body{ background-color:white;}

input[type="button"] {
    background-image: linear-gradient(0deg, green, #e5f4fc); 
    border: 2px solid #ff9900; 
    font-size: large;
    border-radius: 0.3em; 
    width:100px;
    height:50px;
}

input[type="button"]:hover {
    background-image: linear-gradient(0deg, #68d3db, #e5f4fc);
    border: 1px solid #2c628b;
 }
input[type="button"]:active {
  background-image: linear-gradient(180deg, #68d3db, #e5f4fc);
  border: 1px solid skyblue;
}

input[type="submit"] {
    background-image: linear-gradient(0deg, green, #e5f4fc); 
    border: 2px solid #ff9900; 
    font-size: large;
    border-radius: 0.3em; 
    width:100px;
    height:50px;
}

input[type="submit"]:hover {
    background-image: linear-gradient(0deg, #68d3db, #e5f4fc);
    border: 1px solid #2c628b;
 }
input[type="submit"]:active {
  background-image: linear-gradient(180deg, #68d3db, #e5f4fc);
  border: 1px solid skyblue;
}
.subject {
    text-align: left; 
    float: left;
    font-size: 2em;
    color: black;
    margin :0px 5px 0px 0px; 
    padding:1px 4px 1px 4px;
    width: 100%;
    border: 2px solid #ff9900;
    background:#ff9900;
 }
