body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #e9ecef;
    color: #343a40;
    margin: 0;
    padding: 0;
}

header {
    background: #007bff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
        
header a {
    color: white; /* リンクの文字色を白に設定 */
    text-decoration: none; /* 下線を消す */
}     




h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    padding: 20px; /* 上下の余白はそのままに */
    max-width: none; /* 最大幅を解除 */
    margin: 0; /* マージンを0に設定 */
    background: #fff;
}

h2 {
    color: #007bff;
    margin-top: 20px;
    font-size: 1.8em;
}

table {
    border-collapse: collapse; /* 境界線を重ねる */
    width: 100%; /* 幅を調整（必要に応じて） */
}

th, td {
    border: 1px solid black; /* 境界線を設定 */
    padding: 8px; /* パディングを追加 */
    text-align: left; /* テキストの配置を左寄せ */
}


a {
    color: #007bff;
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 15px 0;
    background: #007bff;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

img {
    border-radius: 4px;
    margin-top: 10px;
    max-width: 25%;
    height: auto;
}

.description {
    margin-top: 15px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 4px;
}

#other-rankings {
    margin-top: 30px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}