/* ベーススタイル */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #c098d3 !important;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

/* リンクスタイル */
header a {
    color: white; /* リンクの文字色を白に設定 */
    text-decoration: none; /* 下線を消す */
}

header a:hover {
    color: lightgray; /* ホバー時の色を設定 */
    text-decoration: underline; /* ホバー時に下線を追加 */
}

/* メインコンテンツ */
main {
    padding: 20px;
}

h2 {
    color: #333;
    border-bottom: 2px solid #c098d3;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    color: #333;
}

/* ランキングセクション */
#ranking {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 40px;
}

/* 各施設情報 */
.ranking-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.ranking-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-right: 20px;
}

.ranking-text {
    flex: 1;
    min-width: 300px;
    margin-left: 20px;
}

.ranking-text p {
    margin: 10px 0;
}

.ranking-text strong {
    font-size: 1.5em;
    color: #90D7EC;
}

/* Google Maps iframe */
iframe {
    border: none;
    margin-top: 10px;
}

/* 店舗情報テーブル */
table {
    border-collapse: collapse; /* テーブルの枠線を結合 */
    width: 100%; /* テーブル幅を100%に */
    margin-top: 10px; /* テーブルの上部に余白 */
}

table, th, td {
    border: 1px solid #ddd; /* テーブル全体、ヘッダー、データセルに薄い灰色の1pxボーダー */
}

th, td {
    padding: 10px; /* セル内の余白を10pxに統一 */
    text-align: left; /* テキストを左揃え */
}

th {
    background-color: #c098d3; /* ヘッダーの背景色を淡い青色に */
    color: white; /* ヘッダーテキストの色を白に */
    text-align: center; /* ヘッダーテキストを中央揃え */
}

/* モーダル用のスタイル */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/* 他のランキングセクション */
#other-rankings {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#other-rankings ul {
    list-style-type: none;
    padding: 0;
}

#other-rankings li {
    margin-bottom: 10px;
}

#other-rankings a {
    color: #c098d3;
    text-decoration: none;
    font-size: 1.2em;
}

#other-rankings a:hover {
    text-decoration: underline;
}

/* フッター */
footer {
    background-color: white;
    color: #333;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 0.9em;
}

/* タブレットやiPad用の特定のスタイル */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    header {
        background-color: #c098d3 !important;
    }

    header a {
        color: white !important;
        text-decoration: none !important;
    }
}
