html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}

header h1 {
    margin: 0;
}

h2 {
    margin-top: 30px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li a {
    padding: 15px;
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
    transition: background-color 0.3s, border-color 0.3s;
    text-decoration: none;
    color: #333;
}

ul li a:hover {
    background-color: #eaeaea;
    border-color: #ccc;
}

.container {
    flex: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #fff;
}

footer {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    margin-top: auto;
    width: 100%;
}

#large-textbox {
    width: 300px;  /* 幅を調整 */
    height: 150px; /* 高さを調整 */
}

.rules {
    margin-top: 20px;
    padding-left: 20px;
    list-style-type: disc;
}

.rules-box {
    border: 1px solid #ccc; /* ボックスの境界線 */
    border-radius: 4px; /* ボックスの角を丸くする */
    padding: 10px; /* ボックス内のパディング */
    margin-top: 20px; /* ボックスの上部の余白 */
    background-color: #f9f9f9; /* 背景色を薄いグレーにする */
}