body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

header {
  background-color: #007acc;
  height: 60px; /* 高さを60px → 80px に変更 */
}

.title-bar {
  position: relative;
  padding: 20px 20px; /* 上下20pxに拡張 */
  text-align: center;
}

.app-title {
  font-size: 32px; /* 24px → 32px に変更 */
  font-weight: bold;
}

.update-time {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 14px; /* 少し大きめに変更 */
  color: #555;
}

.container {
  padding: 40px;
  border: 1px solid #000;
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  text-align: center;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 30px;
}

.button-area {
  margin-top: 20px;
}

.compare-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.compare-button img {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  object-fit: cover;
}

.compare-button-text {
  margin-top: 10px;
  font-size: 16px;
  color: black;
}
